In [1]:
import glob
import re
import os

import pandas as pd
import networkx as nx
from infomap import Infomap

In [2]:
#INPUT_DIR = 'C:\\STUFF\\RESEARCH\\Brandwatch\\TEST'
INPUT_DIR = 'C:\\STUFF\\RESEARCH\\Brandwatch\\DATA\\MainQuery\\All'
OUTPUT_DIR = 'C:\\STUFF\\RESEARCH\\Brandwatch\\OUTPUT'

In [24]:
def read_csv_data(data_directory):
    """
    Reads data from all the csv files in the given directory
    :param data_directory: Path to the directory that contains the csv files
    :type data_directory: str
    :return: pandas Dataframe that contains all the data from all csv files
    :rtype: pd.Dataframe
    """
    data_files = glob.glob(os.path.join(data_directory, "*.csv*"))
    print(data_files)
    df_list = []
    for idx, file in enumerate(data_files):
        print(f"Reading {idx + 1} of {len(data_files)} files.\nFile name: {file}")
        df = pd.read_csv(data_files[idx], skiprows=6, parse_dates=['Date'],
                         dtype={'Twitter Author ID': str, 'Author':str,
                                'Full Text':str, 'Title':str,
                                'Thread Id':str, 'Thread Author':str,
                                'Domain':str, 'Expanded URLs':str})
        # df = df[['Date', 'Hashtags', 'Twitter Author ID', 'Author', 'Url', 'Thread Id', 'Thread Author', 'Domain']]
        df = df.rename(columns={'Date':'datetime', 'Author': 'source_user_id',
                                'Full Text':'content', 'Title':'title',
                                'Thread Id': 'parent_source_msg_id', 'Thread Author': 'parent_source_user_id',
                                'Domain':'platform', 'Expanded URLs':'article_url'})
        df_list.append(df)
    result_df = pd.concat(df_list).drop_duplicates()
    return result_df.reset_index(drop=True, inplace=True)

In [25]:
%%time
df = read_csv_data(INPUT_DIR)
df

['C:\\STUFF\\RESEARCH\\Brandwatch\\DATA\\MainQuery\\All\\2018_03_01_to_2018_03_06_withFb_2033735572_MainQuery.csv.zip', 'C:\\STUFF\\RESEARCH\\Brandwatch\\DATA\\MainQuery\\All\\2018_03_07_to_2018_03_07_withoutFb_2033735852_MIPs+test.csv.zip', 'C:\\STUFF\\RESEARCH\\Brandwatch\\DATA\\MainQuery\\All\\2018_03_07_to_2020_05_02_onlyFb_2033753991_MainQuery_FbIgOnly.csv.zip', 'C:\\STUFF\\RESEARCH\\Brandwatch\\DATA\\MainQuery\\All\\2018_03_08_to_2018_03_09_withoutFb_2033750044_MIPs+test.csv.zip', 'C:\\STUFF\\RESEARCH\\Brandwatch\\DATA\\MainQuery\\All\\2018_03_10_to_2018_03_12_withFb_2033755725_MainQuery.csv.zip', 'C:\\STUFF\\RESEARCH\\Brandwatch\\DATA\\MainQuery\\All\\2018_03_13_to_2018_03_13_withoutFb_2033770110_MainQuery_withoutFb.csv.zip', 'C:\\STUFF\\RESEARCH\\Brandwatch\\DATA\\MainQuery\\All\\2018_03_14_to_2018_03_14_withoutFb_2033776708_MainQuery_withoutFb.csv.zip', 'C:\\STUFF\\RESEARCH\\Brandwatch\\DATA\\MainQuery\\All\\2018_03_15_to_2018_03_15_wihtoutFb_2033770779_MIPs+test.csv.zip', 'C:\\STUFF\\RESEARCH\\Brandwatch\\DATA\\MainQuery\\All\\2018_03_16_to_2018_03_16_withoutFb_2033798850_MIPs+test.csv.zip', 'C:\\STUFF\\RESEARCH\\Brandwatch\\DATA\\MainQuery\\All\\2018_03_17_to_2018_03_19_2033804694_MainQuery_withoutFb.csv.zip', 'C:\\STUFF\\RESEARCH\\Brandwatch\\DATA\\MainQuery\\All\\2018_03_20_to_2018_03_25_2033831837_MainQuery_withoutFb.csv.zip', 'C:\\STUFF\\RESEARCH\\Brandwatch\\DATA\\MainQuery\\All\\2018_03_26_to_2018_03_29_without_Fb_2033855430_MainQuery_withoutFb.csv.zip', 'C:\\STUFF\\RESEARCH\\Brandwatch\\DATA\\MainQuery\\All\\2018_03_30_to_2018_04_01_withoutFb_2033890094_MainQuery_withoutFb.csv.zip', 'C:\\STUFF\\RESEARCH\\Brandwatch\\DATA\\MainQuery\\All\\2018_04_02_to_2018_04_03_withoutFb_2033900386_MainQuery_withoutFb.csv.zip', 'C:\\STUFF\\RESEARCH\\Brandwatch\\DATA\\MainQuery\\All\\2018_04_04_to_2018_04_05_withoutFb_2033923235_MainQuery_withoutFb.csv.zip', 'C:\\STUFF\\RESEARCH\\Brandwatch\\DATA\\MainQuery\\All\\2018_04_06_to_2018_04_06_withoutFb_2033932671_MIPs+test.csv.zip', 'C:\\STUFF\\RESEARCH\\Brandwatch\\DATA\\MainQuery\\All\\2018_04_07_to_2018_04_08_wihtout_Fb_2033954434_MIPs+test.csv.zip', 'C:\\STUFF\\RESEARCH\\Brandwatch\\DATA\\MainQuery\\All\\2018_04_09_to_2018_04_11_withoutFb_2033968986_MIPs+test.csv.zip', 'C:\\STUFF\\RESEARCH\\Brandwatch\\DATA\\MainQuery\\All\\2018_04_12_to_2018_04_15_withoutFb_2033988828_MainQuery_withoutFb.csv.zip', 'C:\\STUFF\\RESEARCH\\Brandwatch\\DATA\\MainQuery\\All\\2018_04_16_to_2018_04_20_withoutFb_2034001178_MainQuery_withoutFb.csv.zip', 'C:\\STUFF\\RESEARCH\\Brandwatch\\DATA\\MainQuery\\All\\2018_04_21_to_2018_05_01_withoutFb_2034010661_MIPs+test.csv.zip']
Reading 1 of 21 files.
File name: C:\STUFF\RESEARCH\Brandwatch\DATA\MainQuery\All\2018_03_01_to_2018_03_06_withFb_2033735572_MainQuery.csv.zip

C:\Users\ch132969\AppData\Local\Temp/ipykernel_12700/2862529437.py:14: DtypeWarning: Columns (18,95,108) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(data_files[idx], skiprows=6, parse_dates=['Date'],

Reading 2 of 21 files.
File name: C:\STUFF\RESEARCH\Brandwatch\DATA\MainQuery\All\2018_03_07_to_2018_03_07_withoutFb_2033735852_MIPs+test.csv.zip
Reading 3 of 21 files.
File name: C:\STUFF\RESEARCH\Brandwatch\DATA\MainQuery\All\2018_03_07_to_2020_05_02_onlyFb_2033753991_MainQuery_FbIgOnly.csv.zip
Reading 4 of 21 files.
File name: C:\STUFF\RESEARCH\Brandwatch\DATA\MainQuery\All\2018_03_08_to_2018_03_09_withoutFb_2033750044_MIPs+test.csv.zip

C:\Users\ch132969\AppData\Local\Temp/ipykernel_12700/2862529437.py:14: DtypeWarning: Columns (95,108) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(data_files[idx], skiprows=6, parse_dates=['Date'],

Reading 5 of 21 files.
File name: C:\STUFF\RESEARCH\Brandwatch\DATA\MainQuery\All\2018_03_10_to_2018_03_12_withFb_2033755725_MainQuery.csv.zip

C:\Users\ch132969\AppData\Local\Temp/ipykernel_12700/2862529437.py:14: DtypeWarning: Columns (18,27,95,108) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(data_files[idx], skiprows=6, parse_dates=['Date'],

Reading 6 of 21 files.
File name: C:\STUFF\RESEARCH\Brandwatch\DATA\MainQuery\All\2018_03_13_to_2018_03_13_withoutFb_2033770110_MainQuery_withoutFb.csv.zip

C:\Users\ch132969\AppData\Local\Temp/ipykernel_12700/2862529437.py:14: DtypeWarning: Columns (95,108) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(data_files[idx], skiprows=6, parse_dates=['Date'],

Reading 7 of 21 files.
File name: C:\STUFF\RESEARCH\Brandwatch\DATA\MainQuery\All\2018_03_14_to_2018_03_14_withoutFb_2033776708_MainQuery_withoutFb.csv.zip

C:\Users\ch132969\AppData\Local\Temp/ipykernel_12700/2862529437.py:14: DtypeWarning: Columns (95,108) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(data_files[idx], skiprows=6, parse_dates=['Date'],

Reading 8 of 21 files.
File name: C:\STUFF\RESEARCH\Brandwatch\DATA\MainQuery\All\2018_03_15_to_2018_03_15_wihtoutFb_2033770779_MIPs+test.csv.zip

C:\Users\ch132969\AppData\Local\Temp/ipykernel_12700/2862529437.py:14: DtypeWarning: Columns (95,108) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(data_files[idx], skiprows=6, parse_dates=['Date'],

Reading 9 of 21 files.
File name: C:\STUFF\RESEARCH\Brandwatch\DATA\MainQuery\All\2018_03_16_to_2018_03_16_withoutFb_2033798850_MIPs+test.csv.zip

C:\Users\ch132969\AppData\Local\Temp/ipykernel_12700/2862529437.py:14: DtypeWarning: Columns (95,108) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(data_files[idx], skiprows=6, parse_dates=['Date'],

Reading 10 of 21 files.
File name: C:\STUFF\RESEARCH\Brandwatch\DATA\MainQuery\All\2018_03_17_to_2018_03_19_2033804694_MainQuery_withoutFb.csv.zip

C:\Users\ch132969\AppData\Local\Temp/ipykernel_12700/2862529437.py:14: DtypeWarning: Columns (95,108) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(data_files[idx], skiprows=6, parse_dates=['Date'],

Reading 11 of 21 files.
File name: C:\STUFF\RESEARCH\Brandwatch\DATA\MainQuery\All\2018_03_20_to_2018_03_25_2033831837_MainQuery_withoutFb.csv.zip

C:\Users\ch132969\AppData\Local\Temp/ipykernel_12700/2862529437.py:14: DtypeWarning: Columns (95,108) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(data_files[idx], skiprows=6, parse_dates=['Date'],

Reading 12 of 21 files.
File name: C:\STUFF\RESEARCH\Brandwatch\DATA\MainQuery\All\2018_03_26_to_2018_03_29_without_Fb_2033855430_MainQuery_withoutFb.csv.zip

C:\Users\ch132969\AppData\Local\Temp/ipykernel_12700/2862529437.py:14: DtypeWarning: Columns (95,108) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(data_files[idx], skiprows=6, parse_dates=['Date'],

Reading 13 of 21 files.
File name: C:\STUFF\RESEARCH\Brandwatch\DATA\MainQuery\All\2018_03_30_to_2018_04_01_withoutFb_2033890094_MainQuery_withoutFb.csv.zip

C:\Users\ch132969\AppData\Local\Temp/ipykernel_12700/2862529437.py:14: DtypeWarning: Columns (95,108) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(data_files[idx], skiprows=6, parse_dates=['Date'],

Reading 14 of 21 files.
File name: C:\STUFF\RESEARCH\Brandwatch\DATA\MainQuery\All\2018_04_02_to_2018_04_03_withoutFb_2033900386_MainQuery_withoutFb.csv.zip

C:\Users\ch132969\AppData\Local\Temp/ipykernel_12700/2862529437.py:14: DtypeWarning: Columns (95,108) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(data_files[idx], skiprows=6, parse_dates=['Date'],

Reading 15 of 21 files.
File name: C:\STUFF\RESEARCH\Brandwatch\DATA\MainQuery\All\2018_04_04_to_2018_04_05_withoutFb_2033923235_MainQuery_withoutFb.csv.zip

C:\Users\ch132969\AppData\Local\Temp/ipykernel_12700/2862529437.py:14: DtypeWarning: Columns (95,108) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(data_files[idx], skiprows=6, parse_dates=['Date'],

Reading 16 of 21 files.
File name: C:\STUFF\RESEARCH\Brandwatch\DATA\MainQuery\All\2018_04_06_to_2018_04_06_withoutFb_2033932671_MIPs+test.csv.zip

C:\Users\ch132969\AppData\Local\Temp/ipykernel_12700/2862529437.py:14: DtypeWarning: Columns (95,108) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(data_files[idx], skiprows=6, parse_dates=['Date'],

Reading 17 of 21 files.
File name: C:\STUFF\RESEARCH\Brandwatch\DATA\MainQuery\All\2018_04_07_to_2018_04_08_wihtout_Fb_2033954434_MIPs+test.csv.zip

C:\Users\ch132969\AppData\Local\Temp/ipykernel_12700/2862529437.py:14: DtypeWarning: Columns (62,77,95,108,110) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(data_files[idx], skiprows=6, parse_dates=['Date'],

Reading 18 of 21 files.
File name: C:\STUFF\RESEARCH\Brandwatch\DATA\MainQuery\All\2018_04_09_to_2018_04_11_withoutFb_2033968986_MIPs+test.csv.zip

C:\Users\ch132969\AppData\Local\Temp/ipykernel_12700/2862529437.py:14: DtypeWarning: Columns (95,108) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(data_files[idx], skiprows=6, parse_dates=['Date'],

Reading 19 of 21 files.
File name: C:\STUFF\RESEARCH\Brandwatch\DATA\MainQuery\All\2018_04_12_to_2018_04_15_withoutFb_2033988828_MainQuery_withoutFb.csv.zip

C:\Users\ch132969\AppData\Local\Temp/ipykernel_12700/2862529437.py:14: DtypeWarning: Columns (95,108) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(data_files[idx], skiprows=6, parse_dates=['Date'],

Reading 20 of 21 files.
File name: C:\STUFF\RESEARCH\Brandwatch\DATA\MainQuery\All\2018_04_16_to_2018_04_20_withoutFb_2034001178_MainQuery_withoutFb.csv.zip

C:\Users\ch132969\AppData\Local\Temp/ipykernel_12700/2862529437.py:14: DtypeWarning: Columns (95,108) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(data_files[idx], skiprows=6, parse_dates=['Date'],

Reading 21 of 21 files.
File name: C:\STUFF\RESEARCH\Brandwatch\DATA\MainQuery\All\2018_04_21_to_2018_05_01_withoutFb_2034010661_MIPs+test.csv.zip

C:\Users\ch132969\AppData\Local\Temp/ipykernel_12700/2862529437.py:14: DtypeWarning: Columns (95,108) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(data_files[idx], skiprows=6, parse_dates=['Date'],

Wall time: 37.8 s

In [5]:
%%time
# add user_id column and parent_user_id column

def generate_users_dict(osn_msgs_df):
    global next_user_id
    users_data = {}
    next_user_id = 0
    def extract_user(row):
        global next_user_id
        if (row['platform'], row['source_user_id']) not in users_data:
            users_data[(row['platform'], row['source_user_id'])] = next_user_id
            next_user_id += 1
        if (row['platform'], row['parent_source_user_id']) not in users_data:
            users_data[(row['platform'], row['parent_source_user_id'])] = next_user_id
            next_user_id += 1
    df.apply(lambda row: extract_user(row), axis=1)
    print(len(users_data))
    return users_data

users_data = generate_users_dict(df)

users_df = pd.Series(users_data).rename_axis(['platform','source_user_id']).rename('user_id').reset_index()
print(users_df.shape)
print(users_df)
users_df.to_csv(OUTPUT_DIR + "\\users.csv",index=False)

# add user_id column and parent_user_id column
df[['user_id','parent_user_id']] = df.apply(lambda row: pd.Series([
            users_data[(row['platform'],row['source_user_id'])],
            users_data[(row['platform'],row['parent_source_user_id'])]
        ]), axis = 1)

249377
(249377, 3)
                   platform  \
0               twitter.com
1               twitter.com
2               twitter.com
3               twitter.com
4               twitter.com
...                     ...
249372          twitter.com
249373         stallman.org
249374         stallman.org
249375  revolutionradio.org
249376     hotcopper.com.au

                                           source_user_id  user_id
0                                               melkaylan        0
1                                             MarkUrban01        1
2                                             prutter_pat        2
3                                              jimsciutto        3
4                                             optouttwice        4
...                                                   ...      ...
249372                                             arenda   249372
249373                                   richard stallman   249373
249374                                                NaN   249374
249375  Russia Exposes British Lies On Skripal, But Tr...   249375
249376                                             kbear1   249376

[249377 rows x 3 columns]
Wall time: 2min 47s

In [6]:
%%time
# Add news_domains column

news_domains_csv_file = 'C:\\STUFF\\RESEARCH\\Brandwatch\\news_outlets.xlsx - Sheet1.csv'
skip_strings = {'add', 'al', 'au', 'ca', 'com', 'es', 'in', 'is', 'it', 'ms', 'my', 'net', 'news', 'org', 'rs', 'st', 'tv', 'uk', 'us', 'co'}

def find_patterns_for_domains(in_news_domains_csv_file, in_skip_strings):
    news_domains = pd.read_csv(in_news_domains_csv_file)['news outlets'].rename('news_outlets')
    news_domains_set = set(news_domains.to_list())
    pattern_to_news_domain_name = {re.compile(nd):nd for nd in news_domains_set}
    for nd in news_domains_set:
        valid_split_strs = set(nd.split('.'))
        for e in in_skip_strings:
            valid_split_strs.discard(e)
        for sp in valid_split_strs:
            if len(sp) > 2:
                pattern_to_news_domain_name[re.compile(sp)] = nd
    return pattern_to_news_domain_name

def search_domain_in_string(in_expanded_url, in_news_domains_names):
    # print(in_expanded_url)
    max_len_match = None
    max_len_found = 0
    for ndn in in_news_domains_names:
        match_obj = ndn.search(in_expanded_url)
        if match_obj:
            # print(match_obj, in_news_domains_names[ndn], match_obj.end() - match_obj.start())
            if max_len_found < match_obj.end() - match_obj.start():
                max_len_match = ndn
                max_len_found = match_obj.end() - match_obj.start()
    return in_news_domains_names[max_len_match] if max_len_match is not None else None


def calculate_news_domain_series(in_string_series, in_skip_strings):
    news_domains_names = find_patterns_for_domains(news_domains_csv_file, in_skip_strings)
    return in_string_series.apply(lambda x: search_domain_in_string(x, news_domains_names) if type(x) is str else None)

df['news_domain'] = calculate_news_domain_series(df['article_url'], skip_strings)
# df = df[df['news_domain'].notnull()]

Wall time: 5min 16s

In [7]:
%%time
# generate retweet network
retweet_network_edges = df.groupby(['parent_user_id','user_id'], as_index=False).size().sort_values('size').rename(columns={'size':'num_retweets'})
print(retweet_network_edges)
retweet_network_edges.to_csv(OUTPUT_DIR + "\\retweet_network.csv", index=False)

        parent_user_id  user_id  num_retweets
0                    1        0             1
459259           42172    51357             1
459260           42172    56840             1
459261           42172   218390             1
459263           42189    57986             1
...                ...      ...           ...
25069               30     1523           641
86391               80     4385           706
25945               30     4574           761
261160            4068     4068           898
139557             234      234          1672

[706570 rows x 3 columns]
Wall time: 1.07 s

In [8]:
%%time
# generate community partition on retweet network
G = nx.from_pandas_edgelist(retweet_network_edges,'parent_user_id','user_id',['num_retweets'])
print(G)
lc = nx.algorithms.community.louvain_communities(G, seed=123)
print(len(lc))

Graph with 249377 nodes and 704901 edges
7244
Wall time: 29.5 s

In [9]:
%%time
# generate actor tables 

# generate platform actors table
platform_actors_df = pd.DataFrame([[idx,plat] for idx,plat in enumerate(df['platform'].unique())], columns=['actor_id','platform'])
next_actor_id = platform_actors_df['actor_id'].max() + 1
print(next_actor_id)
print("plat_actors:\n", platform_actors_df, "\n")
platform_actors_df.to_csv(OUTPUT_DIR + "\\plat_actors.csv", index=False)

# generate individual actors table
ind_actors_df = df['parent_user_id'].value_counts().iloc[:100].rename('received_share_count').rename_axis('user_id').reset_index().rename_axis('actor_id')
ind_actors_df.index = ind_actors_df.index + next_actor_id
ind_actors_df.reset_index(inplace=True)
next_actor_id = ind_actors_df['actor_id'].max() + 1
print(next_actor_id)
print("indv_actors:\n", ind_actors_df, "\n")
ind_actors_df.to_csv(OUTPUT_DIR + "\\indv_actors.csv", index=False)

# generate community actors table
uid_to_comm = {}
next_comm_id = 0
for comm in lc:
    for uid in comm:
        uid_to_comm[uid] = next_comm_id
    next_comm_id += 1
        
comm_actors_df = pd.Series(uid_to_comm).rename('comm_id').rename_axis('user_id').reset_index()
comm_actors_df['actor_id'] = comm_actors_df['comm_id'] + next_actor_id
print("comm_actors:\n", comm_actors_df, "\n")
comm_actors_df.to_csv(OUTPUT_DIR + "\\comm_actors.csv", index=False)

# generate actors table
all_actors = [[plat, 'plat'] for plat in platform_actors_df['actor_id']]
all_actors = all_actors + [[indv, 'indv'] for indv in ind_actors_df['actor_id']]
all_actors = all_actors + list({(comm, 'comm') for comm in comm_actors_df['actor_id']})
all_actors_df = pd.DataFrame(all_actors, columns=['actor_id','actor_type']).sort_values('actor_id')
all_actors_df.to_csv(OUTPUT_DIR + "\\actors.csv", index=False)
all_actors_df

6126
plat_actors:
       actor_id                   platform
0            0                twitter.com
1            1                youtube.com
2            2         businessinsider.in
3            3                 tumblr.com
4            4  toinformistoinfluence.com
...        ...                        ...
6121      6121           imediaethics.org
6122      6122              thestar.co.uk
6123      6123              openews24.com
6124      6124                 cpa.org.au
6125      6125               stallman.org

[6126 rows x 2 columns]

6226
indv_actors:
     actor_id  user_id  received_share_count
0       6126       30                137110
1       6127      201                 28465
2       6128      393                 21238
3       6129    39607                 18329
4       6130       11                 15949
..       ...      ...                   ...
95      6221    33634                  1512
96      6222    28039                  1486
97      6223    20088                  1483
98      6224     2097                  1471
99      6225    42815                  1466

[100 rows x 3 columns]

comm_actors:
         user_id  comm_id  actor_id
0         69280        0      6226
1         57986        0      6226
2         72135        0      6226
3        173383        0      6226
4        237128        0      6226
...         ...      ...       ...
249372    16179     7239     13465
249373     3146     7240     13466
249374     2226     7241     13467
249375     7769     7242     13468
249376     1730     7243     13469

[249377 rows x 3 columns]

Wall time: 600 ms

       actor_id actor_type
0             0       plat
1             1       plat
2             2       plat
3             3       plat
4             4       plat
...         ...        ...
10495     13465       comm
12475     13466       comm
9946      13467       comm
11924     13468       comm
13407     13469       comm

[13470 rows x 2 columns]

In [10]:
df = df[df['news_domain'].notnull()]
df.to_csv(OUTPUT_DIR + "\\all_osn_msgs.csv", index=False)
df

,Query Id,Query Name,datetime,title,Url,platform,Sentiment,Page Type,Language,Country Code,...,Region,Region Code,Root Blog Name,Root Post Id,Subreddit,Subreddit Subscribers,Weblog Title,user_id,parent_user_id,news_domain
3,2001100576,MainQuery,2018-03-06 23:59:40,"RT @W7VOA Sergei Skripal, who is 66, was grant...",http://twitter.com/lindhays/statuses/971173499...,twitter.com,neutral,twitter,en,USA,...,Montana,USA.MT,NaN,NaN,NaN,NaN,lindhays (Democratic Socialism),6,7,bbc.co.uk
5,2001100576,MainQuery,2018-03-06 23:59:28,RT @Billbrowder Very disturbing additional fac...,http://twitter.com/Tesscatbird/statuses/971173...,twitter.com,negative,twitter,en,USA,...,California,USA.CA,NaN,NaN,NaN,NaN,Tesscatbird (Tess),10,11,theguardian.com
7,2001100576,MainQuery,2018-03-06 23:59:01,RT @Billbrowder Very disturbing additional fac...,http://twitter.com/crlulukat/statuses/97117333...,twitter.com,negative,twitter,en,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,crlulukat (Kathy 🌼),12,11,theguardian.com
9,2001100576,MainQuery,2018-03-06 23:58:36,"RT @NBCNews ""The man went stiff. His arms stop...",http://twitter.com/tiffanyclay/statuses/971173...,twitter.com,negative,twitter,en,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,tiffanyclay (❄️Evidence-Based Tiffany❄️),14,15,nbcnews.com
12,2001100576,MainQuery,2018-03-06 23:58:22,RT @Billbrowder Very disturbing additional fac...,http://twitter.com/KarCranky/statuses/97117317...,twitter.com,negative,twitter,en,USA,...,NaN,NaN,NaN,NaN,NaN,NaN,KarCranky (KarLen),19,11,theguardian.com
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42590,2001099695,MIPs test,2018-04-21 00:08:03,"Suspects in Attack on Ex-Spy Are in Russia, U....",http://twitter.com/ElizabethFieshe/statuses/98...,twitter.com,neutral,twitter,en,USA,...,NaN,NaN,NaN,NaN,NaN,NaN,ElizabethFieshe (Pine Island Info Inc),35405,30,nytimes.com
42596,2001099695,MIPs test,2018-04-21 00:03:22,Independent Swiss Lab Says BZ Toxin Used in Sk...,http://twitter.com/npnikk/statuses/98748188648...,twitter.com,neutral,twitter,en,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,npnikk (ツ Nick),24406,30,independent.co.uk
42597,2001099695,MIPs test,2018-04-21 00:02:57,"Suspects in Attack on Ex-Spy Are in Russia, U....",http://twitter.com/danilina5886/statuses/98748...,twitter.com,neutral,twitter,en,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,danilina5886 (danilina),35339,30,nytimes.com
42598,2001099695,MIPs test,2018-04-21 00:02:04,RT @GUDiplomacy Is #Austria's response to #Skr...,http://twitter.com/arenda/statuses/98748155692...,twitter.com,neutral,twitter,en,USA,...,District of Columbia,USA.DC,NaN,NaN,NaN,NaN,arenda (Anthony Clark Arend),249372,249260,lat.ms
42599,2001099695,MIPs test,2018-04-21 00:01:41,"Since the Skripal poisoning, their adopted hom...",http://twitter.com/NewsDingo/statuses/98748145...,twitter.com,negative,twitter,en,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NewsDingo (News Dingo),4126,30,washingtonpost.com

In [11]:
#file_name = glob.glob("C:\\STUFF\\RESEARCH\\Brandwatch\\DATA\\MainQuery\\All\\" + "*.csv*")[1]
#file_name

In [12]:
# df = pd.read_csv(file_name, skiprows=6, parse_dates=['Date'],
#                  dtype={'Twitter Author ID': str, 'Author':str,
#                         'Full Text':str, 'Title':str,
#                         'Thread Id':str, 'Thread Author':str,
#                         'Domain':str, 'Expanded URLs':str})

# df = df.rename(columns={'Date':'datetime', 'Author': 'source_user_id',
#                         'Full Text':'content', 'Title':'title',
#                         'Thread Id': 'parent_source_msg_id', 'Thread Author': 'parent_source_user_id',
#                         'Domain':'platform', 'Expanded URLs':'article_url'})
# df